<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Serial Port settings-->
    <add key="PortName" value="com1"/>
    <add key="BaudRate" value="9600"/>
    <add key="DataBits" value="8"/>
    <add key="DtrEnable" value="True"/>
    <!-- Command settings-->
    <add key="coinIn1A" value="9006120103AC"/>
    <add key="coinIn1B" value="9006120603B1"/>
    <add key="coinIn2A" value="9006120203AD"/>
    <add key="coinIn2B" value="9006120503B0"/>
    <add key="coinIn5" value="9006120303AE"/>
    <add key="coinIn10" value="9006120403AF"/>
    <add key="unknown" value="90055003E8"/>
    <add key="ready" value="90051103A9"/>
    <add key="unavailable" value="90051403AC"/>
    <add key="coinAcceptorSensor1" value="9006160103B0"/>
    <add key="coinAcceptorSensor2" value="9006160203B1"/>
    <add key="coinAcceptorSensor3" value="9006160308B2"/>
  </appSettings>
</configuration>